on: 
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'     
        required: true
        default: 'warning'
name: deploy-app-to-kube
jobs:
  deploy:
    name: deploy app to kube
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master

    - name: deploy secret to kube paris
      uses: steebchen/kubectl@v2.0.0
      with:
        config: ${{ secrets.KUBE_PAR_KUBECONFIG_BASE64 }}
        version: v1.21.0
        command: create secret generic machinersa --from-literal=machine-rsa="${{ secrets.SSH_MACHINE_RSA }}"
        
    - name: deploy secret to kube amsterdam
      uses: steebchen/kubectl@v2.0.0
      with:
        config: ${{ secrets.KUBE_AMS_KUBECONFIG_BASE64 }}
        version: v1.21.0
        command: create secret generic machinersa --from-literal=machine-rsa="${{ secrets.SSH_MACHINE_RSA }}"
        
    - name: deploy to kube paris
      uses: steebchen/kubectl@v2.0.0
      with:
        config: ${{ secrets.KUBE_PAR_KUBECONFIG_BASE64 }}
        version: v1.21.0
        command: apply --record -f kube/
        
    - name: verify deployment paris
      uses: steebchen/kubectl@v2.0.0
      with:
        config: ${{ secrets.KUBE_PAR_KUBECONFIG_BASE64 }}
        version: v1.21.0
        command: rollout status deployment foobar-api-dep
        
    - name: deploy to kube amsterdam
      uses: steebchen/kubectl@v2.0.0
      with:
        config: ${{ secrets.KUBE_AMS_KUBECONFIG_BASE64 }}
        version: v1.21.0
        command: apply --record -f kube/
        
    - name: verify deployment amsterdam
      uses: steebchen/kubectl@v2.0.0
      with:
        config: ${{ secrets.KUBE_AMS_KUBECONFIG_BASE64 }}
        version: v1.21.0
        command: rollout status deployment foobar-api-dep
